apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
  namespace: todo-prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
        - name: todo-app
          image: sadykspandiyar/todo-app:1.0
          ports:
            - containerPort: 5000
          env:
            - name: DEBUG
              value: "False"
